.big-image {
	position:fixed;
	top:0;
	z-index:58;
	max-width: 460px;
	width:100%;
	height:100%;
	background-color:black;
	transition: 150ms linear;
	color: white;
	font-weight:bolder;
	text-align: right;
	font-size: 2em;
	cursor: pointer;
	transform: rotateX(90deg);

	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}