.search-bar-container {
    position: fixed;
    display: grid;
    grid-template-columns: 99% auto;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    width: 80vw;
    margin: 0px;
    z-index: 50;
}

.search-bar-container__input {
    border-radius: 0.5vw;
    outline: none;
    color: gray;
    border: 1px solid gray;
    width: 100%;
    opacity: 0.9;
    transition: 700ms;
}

.search-bar-container__input:hover {
    opacity: 1;
}

.search-bar-container__input:focus {
    opacity: 1;
}

.search-bar-container__button {
    background-color: transparent;
    outline: none;
    opacity: 0.9;
    transition: 700ms;
    transform: translateX(-70%);
    padding:10px;
    border: none;
    z-index: 6;
}

.search-bar-container__button:hover {
    cursor: pointer;
}

@media only screen and (width >= 1500px){
    .search-bar-container {
        height: 3vw;     
    }
    .search-bar-container__input {
        font-size: 1.1vw;
        padding-left:1vw;
    }
    .search-bar-container__button {
        font-size: 1.5vw;
    }
}