.menu-container {
	position:fixed;
	display:inline-grid;
	bottom:0;
	left:0;
	margin: 0;
	width:100vw;
	height:auto;
	margin: 0px;
	overflow: hidden;
	z-index:56;
	cursor: pointer;
}

@media only screen and (width >= 1500px){
	.menu-inner .menu-inner__item {
		font-size: 2vw !important;
		
	}
}

.menu-inner {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: white;
	font-weight: bold;
	padding:0px;
	height:100%;
	user-select: none;
	transition: ease-out 150ms;
    z-index: 56;
}

.menu-inner .menu-inner__item {
	text-align: center;
	padding: 5px 2.5vw;
	transition: 150ms linear;
	white-space: pre;
    z-index: 58;
}

.menu-inner>.menu-inner__item:hover {
	background-color:#cc0000ae;
}

.menu-inner>.menu-inner__item:active {
	background-color:#cc0000d3;
}

.menu-inner__item:link, .menu-inner__item:visited{
	text-decoration:none;
	color:inherit;
}

.menu-inner__item--active{
	background-color: #f00;
}