@charset "UTF-8";

:root {
	--width: 200px;
}
html {
	background-color:#f7f7f7;
	background-image: linear-gradient(to right, gray, #f7f7f7, #f7f7f7, #f7f7f7, gray);
	zoom:100%;
	padding:0px;
	margin:0 auto;
	overflow-x: hidden;
}

body {
	min-width: var(--width);
	max-width: 480px;
	width:100%;
	height:100%;
	font-family: Arial, Helvetica, sans-serif;
	margin:0 auto;
	padding-bottom: 36px;
	overflow-y: hidden;
	overflow-x: hidden;
}

#searchContainer {
	position:fixed;
	display: grid;
	grid-template-columns: 100% auto;
	top:0;
	min-width: var(--width);
	max-width: 450px;
	width:98vw;
	margin: 0px;
	z-index:50;
}

#searchInput {
	outline: none;
	padding:5px;
	color: gray;
	border: 1px solid gray;
	width:100%;
	opacity: 0.9;
	transition: 700ms;
}

#searchInput:hover {
	opacity: 1;
}

#searchInput:focus {
	opacity:1;
}

#searchButton {
	background-color: transparent;
	outline: none;
	opacity: 0.9;
	transition: 700ms;
	transform: translate(-60%, 0px);
	border: none;
	z-index:6;
}

#searchButton:hover {
	cursor: pointer;
}

#gridResultsProducts {
	display:grid;
	grid-template-columns: auto auto;
	grid-auto-rows: 300px;
	row-gap:10px;
	justify-content: center;
	background-color: white;
	margin:27px 0px 16px 0px;
	border: 1px solid green;
	min-width: var(--width);
	max-width:460px;
	width:99.5%;
	height:100%;
 	overflow: hidden;
	z-index:4;
}

.products {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	position:relative;
	background-color: white;
	border: 1px solid black;
	box-shadow: 3px 3px 7px darkgray;
	min-width: 100px;
	max-width: var(--width);
	max-height: 290px;
	width: 90%;
	height:100%;
	padding: 5px;
	margin: 5px;
	color:black;
 	overflow: hidden;

}

#bigImage {
	position:fixed;
	z-index:58;
	max-width: 460px;
	max-height: auto;
	width:100%;
	height:100%;
	background-color:black;
	transition: 150ms linear;
	color: white;
	font-weight:bolder;
	text-align: right;
	font-size: 2em;
	cursor: pointer;
	transform: rotateX(90deg);
}

.imageProduct {
	position:absolute;
	background-size: cover;
	width:95%;
	max-height:130px;
	height:100%;
	top:5px;
	text-align:center;
	vertical-align:middle;
	background-color:black;
	transition: 150ms;
	transition: 150ms linear;
}

.imageProduct:hover {
	filter: blur(4px);
}

.imageProduct:active {
	filter: blur(4px) brightness(120%);
}

.titleProduct {
	position:absolute;
	top:140px;
	text-transform: uppercase;
	font-weight: bolder;
	vertical-align:middle;
	margin:1px;
	padding:1px;
	padding-bottom: 2px;
	max-width:196px;
	max-height:30px;
	height:100%;
	width:100%;
}

.descriptionProduct {
	position:absolute;
	top:175px;
	text-align: justify;
	font-size: 11px;
	font-style: italic;
	color: gray;
	margin:1px;
	padding:1px;
	max-width:196px;
	max-height:40px;
	height:100%;
	width:100%;
}

@media screen and (max-width:400px) {
	.titleProduct {
		font-size:10px;
	}
	.descriptionProduct {
		font-size: 9px;
	}
	.priceProduct {
		font-size:20px;
	}
}
@media screen and (min-width:400px) {
	.titleProduct {
		font-size:12px;
	}
	.descriptionProduct {
		font-size: 11px;
	}
	.priceProduct {
		font-size:25px;
	}
}

.priceProduct {
	position:absolute;
	top:215px;
	max-width:196px;
	max-height:35px;
	width:100%;
	height:100%;
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
	text-align:right;
	color: #777777;
	margin:1px;
	padding:1px;
}

.btnAddCart {
	position:absolute;
	top:268px;
	margin:0px;
	padding:4px;
	background-color:#00dd22;
	color: white;
	text-shadow: 1px 1px 1px gray;
	text-align:center;
	vertical-align:middle;
	font-weight: bolder;
	border: none;
	width: 90%;
	transition: 150ms linear;
	z-index: 4;
}

.btnAddCart:hover {
	background-color: #00ee00;
	cursor: pointer;
}

.btnAddCart:active {
	background-color: #00ff00;
}

.containerAmountProduct {
	display:grid;
	grid-template-columns: auto auto auto;
	grid-gap:1px;
	justify-content: center;
	border: 1px solid lightgray;
 	border-radius: 6px;
	padding:4px;
	user-select:none;
	visibility:visible;
	transition: ease-out 300ms;
	z-index: 5;
}

.inputAmountProduct {
	max-width:155px;
	width:100%;
	border: none;
	outline: none;
	text-align:center;
	font-size:0.8em;
	user-select:none;
}

.arrows {
	display:grid;
	align-items:center;
	justify-content:center;
	font-size:0.5em;
	color:white;
	min-width:19px;
	min-height:19px;
	width:100%;
	height:100%;
	border:none;
	background-color:#888888;
	border: 1px 1px 1px #eeeeee;
	border-radius: 3px;
	transition: 150ms linear;
}

.arrows:hover {
	background-color:#999999;
	cursor: pointer;
}
.arrows:active {
	background-color:#777777;
}

#menuContainer {
	position:fixed;
	display:inline-grid;
	bottom:0;
	margin: 0px 0px 0px 0px;
	min-width: var(--width);
	max-width: 462px;
	width:100%;
	height:30px;
	margin: 0px;
	overflow: hidden;
	z-index:56;
	cursor: pointer;
}

#menu {
	display: grid;
	grid-auto-flow: column;
	justify-content: left;
	align-items: center;
	bottom:0;
	background-color: black;
	color: white;
	font-weight: bold;
	padding:0px;
	height:100%;
	user-select: none;
	transition: ease-out 150ms;
}

#menu .item {
	text-align: center;
	padding: 5px 5px 5px 5px;
	width:120px;
	height:auto;
	transition: 150ms linear;
}

#menu>.item:hover {
	background-color:#cc0000 !important;
}

#menu>.item:active {
	background-color:darkred !important;
}

.item:link, .item:visited{
	text-decoration:none !important;
	color:inherit !important;
}

#message {
	padding-top: 30px;
}

#summaryParent {
	position:fixed;
	bottom:30px;
	max-width: 461px;
	max-height:22px;
	width:100%;
	height: 100%;
	z-index:54;
}

#summaryContainer {
	position:fixed;
	top:0px;
	max-width:460px;
	min-width:0px;
	width:100%;
	height:0px;
	background-color: white;
	color:black;
	visibility:hidden;
	opacity:0.95;
	transition: cubic-bezier(0, 0.3, 1, 0) 250ms;
	overflow-y:auto;
}

#btnSummary {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items:center;
	width:100%;
	height: 100%;
	background-color:#008822;
	color:white;
	font-weight:bolder;
	border: none;
	opacity:1;
	transition: linear 300ms;
	z-index:54;
}

#btnSummary:hover {
	background-color: #009900;
	cursor: pointer;
}

#btnSummary:active {
	background-color: #00ff00;
}

#imgLittleCartContainer {
	justify-self:start;
	padding-top:2px;
}

#imgLittleCart {
	filter: invert(100%);
}

#txtBtnShowCart {
	justify-self:center;
}

#totalBtnShowCart {
	justify-self:end;
}

#infoCartTotalAmount {
	float:right;
	background-color:red;
	color: white;
	width:15px;
	font-size:9px;
	text-align:top;
	align-self: start;
	margin:1px;
	border-radius:15px;
	font-weight:lighter;
	padding:1px;
	transform: translate(1px, -3px)

}

#tableSummary {
	top:0px;
	background-color:white;
	width:100%;
	margin:0px;
	padding:0px;
	border-collapse: collapse;
	table-layout: auto;
	z-index:15;
}

#tableSummary, th, td {
	border: 1px solid lightgray;
}

#tableSummary th {
	background-color:gray;
	color: white;
	font-weight: bolder;
	padding-right: 10px;
	padding-left: 10px;
}

#tableSummary td {
	text-align: center;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}

#tableSummary td:first-child {
	text-align: left;
}

#tableSummary #total {
	background-color:gray;
	color: white;
	font-weight: bolder;
	text-align: right;
	vertical-align: middle;
	padding-right: 5px;
}

#spinner {
	position:fixed;
	width: 30px;
	height: 30px;
	top:46%;
	left:46%;
	border: 5px solid darkgreen;
	border-left: 5px solid transparent;
	border-radius: 100%;
	z-index:100;
	animation: spinner 1000ms infinite linear;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}



