@charset "UTF-8";

html {
	margin:0;
	overflow-x: hidden;
	outline: none;
	padding:0;
	zoom:100%;
}

body {
	background-color:#000;
	background-image: linear-gradient(to right, gray, #f7f7f7, #f7f7f7, #f7f7f7, gray);
	font-family: Arial, Helvetica, sans-serif;
	margin:0 auto;
	overflow: hidden;
	padding-bottom: 36px;	
	width:100vw;
	height:auto;
}